@import 'config';


$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../images/backgroundimage2.jpg);
$background-opacity: 0.7;

@mixin easeOut {
   transitions: all 1.5s ease-out;
}

body {
    background-image: url(../images/backgroundimage2.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1,h2,h3 {
    margin: 0 ;
    font-weight: 400;
    color: whitesmoke;

    &.lg-heading {
      font-size: 5rem;  
    }
    &.sm-heading {
        margin-bottom: 20px;
        padding: 0.3rem ;
        font-size: 2rem;
        
    }

}

.fab  {
    color: whitesmoke;
    margin-left: 10px;
}

.icons {
    margin-top: 1rem;

    a {
        padding: 0.4rem;
        &:hover {
            color: $secondary-color;
            @include easeOut();

        }
    }

}


.nav-list {
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    opacity: 0.9;
    border-radius: 40px 40px 40px 40px;
    
}

.text-secondary {
    color: $secondary-color;

}
.nav-links {
    text-decoration: none;
    display: flex;    
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
    
    &:hover {
        color: $secondary-color;
        @include easeOut();
    
        }
    
    
}

// Home

.home { 
    height: 90vh;
    position: absolute;
    width: 100%;
    border-radius: 15px 50px 30px 5px;
    
}

.home-content, about-content {
    height: 100%;
    display: flex;
    margin-top: 10vh;
    margin-left:  5vh; 
    margin-right: 5vh;   
    align-items: right;
}
   




main {
    margin: auto;
}
.home {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    width: 400px;
    height: 50px;
    position: absolute;
    margin: auto;
    
}

.aboutbackground {
    background-image: url(../images/ReactLiteII.JPG);
    background-repeat: no-repeat;
    
    opacity: 0.9;
}
.about {
    margin-top: 20vh;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    opacity: 0.9;
    border-radius: 30px 30px 30px 30px;
    
}

.about-lg-heading,.work-lg-heading {

    padding: 20px;

    font-weight: 400;
    color: black;
    font-size: 5rem; 
    align-items: right;
}
  

  .about-content  {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'about-1 about-2';
    grid-template-columns: 1fr,2fr;
    border-top: solid;
    border-color: black;
    
  }

.about-1 {
    grid-area: about-1;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color;
    height: 50%;
}

.about-2 {
    grid-area: about-2;
    color: black;
    line-height: 1.2;
    font-size: 1.2vw;
    padding: 10px ;
    align-items: left;
    


}

.world-images {
    align-items: left;
    margin-left: 100px;
    border-radius: 60%;
    border: solid;
    border-color: black;
    height: auto;
}

// Work Projects

.work,.contact {
    margin-top: 20vh;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    opacity: 0.9;
    border-radius: 30px 30px 30px 30px;
}

.projects{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-areas: 
    'item-1 item-2';
    grid-template-columns: 2fr, 2fr;
    margin: 30px;
    img {
        width:100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}


.item-1 {
  grid-area: item-1;
  


}

.item-2 {
    grid-area: item-2;
    


    
}

.work-sm-heading {
    margin-bottom: 2rem;
    color: black;
    padding: 0.2rem 1rem;
    background: rgba(lighten($secondary-color, 2), 0.5);
}

    //Button Styles

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    background-color: maroon;
    &:hover {
        background: $secondary-color;
        color: set-text-color
        ($secondary-color);
    }   

}

.btn-dark {
  @extend .btn;  
  color:black;
  background-color: lightseagreen;
  text-decoration: none;
}


.btn-light {
  @extend .btn;
    color:#333;
    background-color: lightseagreen;
    text-decoration: none;

}

// Contact
// Contact Page

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    
    
       div {
           font-size: 3.5vw;
           
           padding: 1.0rem 1.5rem;
           margin-bottom: 3rem;
           @include easeOut;
    
            &:hover {
                padding: 0.5rem 1.5rem;
                background: $secondary-color;
                color: set-text-color($secondary-color);
                span {
                    color: set-text-color($secondary-color);
                }
            }
       }
    }
    
    @import 'mobile';